* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--font-family-base);
  background-color: var(--color-bg);
  color: var(--color-text);
}

body {
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

:root {
  --font-family-base: "Inter", sans-serif;
  --font-family-alt: "Noto Sans", sans-serif;

  --color-bg: #ffffff;
  --color-text: #000000;
  --color-accent: #586179;
  --color-border: #DCDDE3;
  --color-search-bg: #E8EDF1;
  --color-search-text: #757575;

  --header-height: 80px;
  --header-padding-x: 80px;
  --search-padding: 64px 80px 32px 80px;
  --search-container-height: 52px;
  --search-container-min-width: 500px;
  --gap-section: 32px;
  --border-radius: 4px;

  --card-height: 426px;
  --card-aside-width: 288px;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--color-bg);
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--search-padding);
  align-self: stretch;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: var(--search-container-min-width);
  height: var(--search-container-height);
  padding: 16px 24px;
  border-radius: var(--border-radius);
  background: var(--color-search-bg);
}

.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  width: 16px;
  height: 16px;
  aspect-ratio: 1 / 1;
  fill: var(--color-accent);
}

.search-input {
  flex: 1;
  width: 100%;
  font-family: var(--font-family-alt);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-search-text);
  background-color: var(--color-search-bg);
  border: none;
}

.search-input:focus {
  outline: none;
}

.cards-container {
  display: grid;
  align-self: stretch;
  flex: 1 0 0;
  padding: 0 var(--header-padding-x) 48px;
  row-gap: var(--gap-section);
  column-gap: var(--gap-section);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) var(--card-aside-width);
}

.cart-icon-wrapper {
  display: flex;
  width: 52px;
  height: 52px;
  padding: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #E8EDF1;
}

.cart-icon-wrapper:hover {
  cursor: pointer;
}

.cart-icon {
  fill: #586179;
  flex: 1 0 0;
  align-self: stretch;
}

.search-submit-button {
  display: flex;
  padding: 13px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #E8EDF1;
  background: #156DF9;
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.search-submit-button:hover {
  cursor: pointer;
}

.search-form-container {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}