<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${category.title}">РИП | Услуга</title>
  <link rel="stylesheet" th:href="@{/assets/css/main.css}">
  <link rel="stylesheet" th:href="@{/assets/css/header.css}">
  <link rel="stylesheet" th:href="@{/assets/css/detailed.css}">
</head>
<body>
<div class="detailed-page-container">
  <header th:insert="~{fragments/header :: header}"></header>

  <div class="content-container">
    <div class="inner-content-container">

      <div class="inner-text-container">
        <div class="inner-text-header-container">

          <div class="inner-title-container">
            <h1 class="detailed-category-title-text"
                th:text="${category.title}">
              Название Услуги
            </h1>
          </div>

          <div class="inner-info-container">
            <div class="inner-index-container">
              <h3 class="inner-secondary-text"
                  th:text="'Изменение индекса с прошлого месяца: ' + ${category.index} + '%'">
                Изменение индекса с прошлого месяца:
              </h3>
            </div>

            <div class="inner-price-container">
              <h3 class="inner-secondary-text"
                  th:text="'Базовая стоимость: ' + ${category.basePrice} + ' руб'">
                Базовая стоимость:
              </h3>
            </div>
          </div>

        </div>

        <div class="inner-description-container">
          <p class="inner-description-text"
             th:text="${category.description}">
            Текст описания услуги
          </p>
        </div>
      </div>

      <div class="inner-image-container"
           th:style="|background-image: url(${baseUrl}${category.imageId}.jpg)|">

      </div>

    </div>
  </div>
</div>
</body>
</html>